pytest==7.4.3              # Фреймворк для тестирования
allure-pytest==2.13.2      # Интеграция Allure с Pytest
requests==2.31.0           # Для HTTP-запросов (используется в API клиентах)
Faker==19.6.2              # Для генерации тестовых данных